.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

.center{
  margin: 0 auto;
}

#size{
  width: 50%;
  height: 50%;
}

.image{
  width: 375px;
  height: 200px;
}
